.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background: #000000;
}
.buttons-holder{
  min-width: none;
  width: 90vw;
  height: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
}
button{
  border-radius: 50%;
}
[class="0"] {
  grid-area: 2 1 3 2;
}