.aside-bar{
    background-color: white;
    width:72px;
    position:fixed;
    top: 56px;
    left:0px;
    bottom:0px;
    flex-direction: column;
    display:block;

    padding-top: 5px;

}
.icon{
    width: 24px;
    margin-bottom: 5px;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    height: 74px;
    cursor: pointer;
}
.icon-container:hover{
    background-color: #eeeeee;
}
.notation{
    font-size: 10px;
}